version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "4815:8080"
    environment:
      Dev__WebApp__Port: 3001
      Dev__Browser__Port: 4815

  frontend:
    build:
      context: ./webapp
      dockerfile: Dockerfile
    expose:
      - "3001"
    environment:
      PIXELGROVE_WEBAPP_DEV_PORT: 3001
