version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    image: pixelgrove_backend:dev
    ports:
      - "4815:8080"
    environment:
      Dev__Web__ServerUrl: http://frontend:3001
      Dev__Web__BrowserUrl: http://localhost:4815

  frontend:
    build:
      context: .
      dockerfile: webapp/Dockerfile
    image: pixelgrove_frontend:dev
    expose:
      - "3001"
    environment:
      PIXELGROVE_WEBAPP_DEV_PORT: 3001
